page-home {
    $snapshot-height: 150px;
    $margin: 5px;
    $button-color: map-get($colors, primary);    
    .snapshot {
        position: fixed;
        left: $margin;
        bottom: $margin;
        height: $snapshot-height;

        &.landscape {
            transform: rotate(-90deg);
            left: -$snapshot-height + $margin;
            transform-origin: $snapshot-height 0;
        }
    }
  .buttonWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .sheriffButton {
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    font-size: 130%;
    text-align: center;
    background-color: $button-color;

    &.active {
      background-color: darken(map-get($colors, secondary), 20%);      
    }
  }
}
