page-bounty {
    .alignmiddle
    {
        vertical-align: center;
        text-align: center;
    }

    .icon50
    {
        font-size: 50px;
    }

    .icon20
    {
        font-size: 20px;
    }

    .round-icon
    {
        background: #488aff;
        border-radius: 100%;
        width: 50px;
        color: white;
    }
}
